OnlineLearningSystem/TestResults/
OnlineLearningSystem/OnlineLearningSystem/App_Data/
OnlineLearningSystem/OnlineLearningSystem/aspnet_client/
OnlineLearningSystem/OnlineLearningSystem/bin/
OnlineLearningSystem/OnlineLearningSystem/Content/lib/ueditor/1.4.3/net/upload
OnlineLearningSystem/OnlineLearningSystem/Excels/
OnlineLearningSystem/OnlineLearningSystem/obj/
OnlineLearningSystem/TimeTaskTestProject/bin
OnlineLearningSystem/TimeTaskTestProject/obj
