<div class="menu_dropdown bk_2 hide">
    <dl id="menu-study-center">
        <dt class="menu-btn"><a _href="course-list.html" href="javascript:;"><i class="Hui-iconfont">
            &#xe643;</i> 学习中心</a></dt>
    </dl>
    <dl id="menu-exercise-center">
        <dt><i class="Hui-iconfont">&#xe60c;</i> 练习中心<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="/ExaminationPaperTemplate/ListStudent?type=1&ptStatus=1" href="javascript:;">未完成</a></li>
                <li><a _href="/ExaminationPaperTemplate/ListStudent?type=1&ptStatus=2" href="javascript:;">已完成</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-examination-center">
        <dt><i class="Hui-iconfont">&#xe647;</i> 考试中心<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="/ExaminationPaperTemplate/ListStudent?type=0&ptStatus=1" href="javascript:;">未考完</a></li>
                <li><a _href="/ExaminationPaperTemplate/ListStudent?type=0&ptStatus=2" href="javascript:;">已考完</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-data-bank">
        <dt class="menu-btn"><a _href="data-bank-list.html" href="javascript:;"><i class="Hui-iconfont">
            &#xe639;</i> 资料库</a></dt>
    </dl>
    <dl id="menu-personal-info">
        <dt class="menu-btn"><a _href="member-info.html" href="javascript:;"><i class="Hui-iconfont">
            &#xe602;</i> 个人信息</a></dt>
    </dl>
    <dl id="menu-course-bank">
        <dt class="menu-btn"><a _href="course-list.html" href="javascript:;"><i class="Hui-iconfont">
            &#xe627;</i> 课程库</a></dt>
    </dl>
    <dl id="menu-exercise-bank">
        <dt><i class="Hui-iconfont">&#xe616;</i> 题库<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="/Question/Create" href="javascript:;">添加试题</a></li>
                <li><a _href="/Question/DocxUploadAndImport" href="javascript:;">试题导入</a></li>
                <li><a _href="/Question/List" href="javascript:;">试题管理</a></li>
                <li><a _href="/Question/List?status=4" href="javascript:;">试题缓存</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-examination-task">
        <dt><i class="Hui-iconfont">&#xe692;</i> 考试任务<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="/ExaminationTask/Create" href="javascript:;">添加任务</a></li>
                <li><a _href="/ExaminationTask/List" href="javascript:;">任务管理</a></li>
                <li><a _href="/ExaminationTaskTemplate/List" href="javascript:;">任务模板</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-user">
        <dt><i class="Hui-iconfont">&#xe60d;</i> 行政体系<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="/Department/List" href="javascript:;">部门</a></li>
                <li><a _href="/Duty/List" href="javascript:;">职务</a></li>
                <li><a _href="/User/List" href="javascript:;">用户</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-admin">
        <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="/Role/List" href="javascript:void(0)">角色</a></li>
                <li><a _href="/PermissionCategory/List" href="javascript:void(0)">权限</a></li>
                <li><a _href="/User/List" href="javascript:void(0)">账号</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-system">
        <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="notice-list.html" href="javascript:void(0)">通知管理</a></li>
                <li><a _href="system-base.html" href="javascript:void(0)">系统设置</a></li>
                <li><a _href="system-log.html" href="javascript:void(0)">系统日志</a></li>
            </ul>
        </dd>
    </dl>
</div>
