<div class="menu_dropdown bk_2">
    <dl id="menu-course-bank">
        <dt class="menu-btn"><a _href="course-list.html" href="javascript:;"><i class="Hui-iconfont">
            &#xe627;</i> 课程库</a></dt>
    </dl>
    <dl id="menu-exercise-bank">
        <dt><i class="Hui-iconfont">&#xe616;</i> 试题库<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="exercise-add.html" href="javascript:;">添加试题</a></li>
                <li><a _href="exercise-import.html" href="javascript:;">试题导入</a></li>
                <li><a _href="/Question/List" href="javascript:;">试题管理</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-examination-task">
        <dt><i class="Hui-iconfont">&#xe692;</i> 考试任务<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="examination-task-add.html" href="javascript:;">添加任务</a></li>
                <li><a _href="examination-task-list.html" href="javascript:;">任务管理</a></li>
                <li><a _href="examination-task-template-list.html" href="javascript:;">任务模板</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-user">
        <dt><i class="Hui-iconfont">&#xe60d;</i> 行政体系<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="department-list.html" href="javascript:;">部门</a></li>
                <li><a _href="duty-list.html" href="javascript:;">职务</a></li>
                <li><a _href="member-list.html" href="javascript:;">用户</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-admin">
        <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="admin-role.html" href="javascript:void(0)">角色</a></li>
                <li><a _href="admin-permission.html" href="javascript:void(0)">权限</a></li>
                <li><a _href="admin-list.html" href="javascript:void(0)">账号</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-system">
        <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="notice-list.html" href="javascript:void(0)">通知管理</a></li>
                <li><a _href="system-base.html" href="javascript:void(0)">系统设置</a></li>
                <li><a _href="system-log.html" href="javascript:void(0)">系统日志</a></li>
            </ul>
        </dd>
    </dl>
</div>
