<div class="menu_dropdown bk_2">
    <dl id="menu-study-center">
        <dt class="menu-btn"><a _href="course-list.html" href="javascript:;"><i class="Hui-iconfont">
            &#xe643;</i> 学习中心</a></dt>
    </dl>
    <dl id="menu-exercise-center">
        <dt><i class="Hui-iconfont">&#xe60c;</i> 练习中心<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="exercise-undo.html" href="javascript:;">未完成练习</a></li>
                <li><a _href="exercise-done.html" href="javascript:;">已完成练习</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-examination-center">
        <dt><i class="Hui-iconfont">&#xe647;</i> 考试中心<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
        <dd>
            <ul>
                <li><a _href="examination-undo.html" href="javascript:;">未考完试卷</a></li>
                <li><a _href="examination-done.html" href="javascript:;">已考完试卷</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-data-bank">
        <dt class="menu-btn"><a _href="data-bank-list.html" href="javascript:;"><i class="Hui-iconfont">
            &#xe639;</i> 资料库</a></dt>
    </dl>
    <dl id="menu-personal-info">
        <dt class="menu-btn"><a _href="member-info.html" href="javascript:;"><i class="Hui-iconfont">
            &#xe602;</i> 个人信息</a></dt>
    </dl>
</div>
