@model String
<div class="row cl">
    <label class="form-label col-2">
        @ViewData["title"]</label>
    <div class="formControls col-6">
        @{/*Html.RenderPartial("UEditor");*/}
        @Html.TextArea("", null == Model ? "" : Model, new { @class = "textarea" })
    </div>
</div>