@{
    ViewBag.MenuPartial = "~/Views/Shared/_Menu.cshtml";
    Layout = "~/Views/Shared/_Background.cshtml";
}
<div id="iframe_box" class="Hui-article">
    <div class="show_iframe">
        <div style="display: none" class="loading">
        </div>
        <iframe scrolling="yes" frameborder="0" src="/Panel/Welcome"></iframe>
    </div>
</div>

