@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Page.cshtml";
}
<div class="pd-20">
  <!--p class="f-20 text-success">欢迎使用在线学习系统</p>
  <p>上次登录IP：222.35.131.79  上次登录时间：2015-10-15 11:19:55</p-->
</div>