@charset "utf-8";
/* 无下拉列表的菜单按钮 */
.Hui-aside .menu_dropdown dt.menu-btn{padding-left:0;}
.Hui-aside .menu_dropdown dt.menu-btn a{display:block; padding-left:15px; text-decoration:none;}
.Hui-aside .menu_dropdown dt.menu-btn a:hover{color:#148cf1;}
.fz-14{font-size:14px;}
.fz-18{font-size:18px;}

/*.select-box.size-MINI{width:60px;}
.select-box.size-MINI select.dif-coe{width:20px;}*/