USE [OLS]

GO

SET IDENTITY_INSERT [dbo].[PermissionCategories] ON

INSERT [dbo].[PermissionCategories] ([PC_Id], [PC_AutoId], [PC_Name], [PC_Level], [PC_Remark], [PC_AddTime], [PC_Status]) VALUES (1, 1, N'权限目录管理', N'0001', NULL, CAST(0x070083B6CC8AAB3A0B AS DateTime2), 1)
INSERT [dbo].[PermissionCategories] ([PC_Id], [PC_AutoId], [PC_Name], [PC_Level], [PC_Remark], [PC_AddTime], [PC_Status]) VALUES (2, 2, N'角色管理', N'0002', NULL, CAST(0x0700CC35DC8AAB3A0B AS DateTime2), 1)
INSERT [dbo].[PermissionCategories] ([PC_Id], [PC_AutoId], [PC_Name], [PC_Level], [PC_Remark], [PC_AddTime], [PC_Status]) VALUES (3, 3, N'部门管理', N'0003', NULL, CAST(0x0700E883EA8AAB3A0B AS DateTime2), 1)

SET IDENTITY_INSERT [dbo].[PermissionCategories] OFF

SET IDENTITY_INSERT [dbo].[Permissions] ON

INSERT [dbo].[Permissions] ([P_Id], [P_AutoId], [PC_Id], [P_Name], [P_Controller], [P_Action], [P_Remark], [P_AddTime]) VALUES (1, 1, 1, N'权限目录列表', N'PermissionCategory', N'List', NULL, CAST(0x07E246B2D68AAB3A0B AS DateTime2))
INSERT [dbo].[Permissions] ([P_Id], [P_AutoId], [PC_Id], [P_Name], [P_Controller], [P_Action], [P_Remark], [P_AddTime]) VALUES (2, 2, 1, N'查询权限目录', N'PermissionCategory', N'ListDataTablesAjax', NULL, CAST(0x07E246B2D68AAB3A0B AS DateTime2))
INSERT [dbo].[Permissions] ([P_Id], [P_AutoId], [PC_Id], [P_Name], [P_Controller], [P_Action], [P_Remark], [P_AddTime]) VALUES (3, 3, 1, N'新建权限目录', N'PermissionCategory', N'Create', NULL, CAST(0x07E246B2D68AAB3A0B AS DateTime2))

SET IDENTITY_INSERT [dbo].[Permissions] OFF

GO

INSERT [dbo].[Role_Permission] ([R_Id], [P_Id]) VALUES (1, 1)
INSERT [dbo].[Role_Permission] ([R_Id], [P_Id]) VALUES (1, 2)
INSERT [dbo].[Role_Permission] ([R_Id], [P_Id]) VALUES (1, 3)

UPDATE Roles SET 
R_Permissions = '[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115]',
R_PermissionCategories = '[1,2,3,4,5,6,7,8,9,10,11]'
WHERE R_Id = 1

GO