USE [OLS]
GO
SET IDENTITY_INSERT [dbo].[QuestionClassifies] ON
INSERT [dbo].[QuestionClassifies] ([QC_Id], [QC_AutoId], [QC_Name], [QC_Level], [QC_Remark], [QC_AddTime], [QC_Status]) VALUES (1, 1, N'综合、公文、绩效知识（90题）', N'0001', NULL, CAST(0x07FBEBCCE75FC73A0B AS DateTime2), 1)
INSERT [dbo].[QuestionClassifies] ([QC_Id], [QC_AutoId], [QC_Name], [QC_Level], [QC_Remark], [QC_AddTime], [QC_Status]) VALUES (2, 2, N'所得税知识（180题）', N'0002', NULL, CAST(0x07F791E2F45FC73A0B AS DateTime2), 1)
INSERT [dbo].[QuestionClassifies] ([QC_Id], [QC_AutoId], [QC_Name], [QC_Level], [QC_Remark], [QC_AddTime], [QC_Status]) VALUES (3, 3, N'营业税知识（60题）', N'0003', NULL, CAST(0x079756C60460C73A0B AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[QuestionClassifies] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON
INSERT [dbo].[Questions] ([Q_Id], [Q_AutoId], [Q_Type], [QC_Id], [Q_DifficultyCoefficient], [Q_Content], [Q_OptionalAnswer], [Q_ModelAnswer], [Q_Remark], [Q_AddTime], [Q_Status], [Q_Score]) VALUES (1, 1, N'单选题', 1, 0, N'税务机关公文种类主要有(  )。', N'{"A":"9种","B":"10种","C":"12种","D":"13种"}', N'["D"]', NULL, CAST(0x07FBEBCCE75FC73A0B AS DateTime2), 1, 0)
INSERT [dbo].[Questions] ([Q_Id], [Q_AutoId], [Q_Type], [QC_Id], [Q_DifficultyCoefficient], [Q_Content], [Q_OptionalAnswer], [Q_ModelAnswer], [Q_Remark], [Q_AddTime], [Q_Status], [Q_Score]) VALUES (2, 2, N'单选题', 1, 0, N'发布规范性文件应使用的文种是(  )。', N'{"A":"公告","B":"通知","C":"通告","D":"命令"}', N'["A"]', NULL, CAST(0x07FBEBCCE75FC73A0B AS DateTime2), 1, 0)
INSERT [dbo].[Questions] ([Q_Id], [Q_AutoId], [Q_Type], [QC_Id], [Q_DifficultyCoefficient], [Q_Content], [Q_OptionalAnswer], [Q_ModelAnswer], [Q_Remark], [Q_AddTime], [Q_Status], [Q_Score]) VALUES (3, 3, N'单选题', 1, 0, N'在公文末页附注处注明联系人姓名和电话的文种是(  )。', N'{"A":"批复","B":"请示","C":"报告","D":"函"}', N'["B"]', NULL, CAST(0x07FBEBCCE75FC73A0B AS DateTime2), 1, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO

UPDATE Questions SET Q_Score = 4 WHERE Q_Type = '单选题';
UPDATE Questions SET Q_Score = 5 WHERE Q_Type = '多选题';
UPDATE Questions SET Q_Score = 6 WHERE Q_Type = '判断题';
UPDATE Questions SET Q_Score = 7 WHERE Q_Type = '公文改错题';
UPDATE Questions SET Q_Score = 8 WHERE Q_Type = '计算题';
UPDATE Questions SET Q_Score = 9 WHERE Q_Type = '案例分析题';
UPDATE Questions SET Q_Score = 10 WHERE Q_Type = '问答题';

GO